@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 427;
  font-style: normal;
}
